# AIRIS Insights Backend API URL
# Web / iOS Simulator: http://localhost:8000/api/v1
# Android Emulator: http://10.0.2.2:8000/api/v1
# Physical Mobile Device on LAN: http://<LAN_IP>:8000/api/v1
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1
